<mat-list>
  <div class="add-btn">
    <button mat-fab color="primary" (click)="openDialog()">
      <mat-icon mat-list-icon>add</mat-icon>
    </button>
  </div>
  <div class="centerTitle">
    <h2>Tipos de plaza</h2>
  </div>
  @if (displayOrNot) {
    <h2 mat-subheader>No hay tipos de Plaza</h2>
  } @else {
    <div>
      <mat-form-field>
        <input matInput #myInput placeholder="Búsqueda..." [(ngModel)]="stringBusqueda">
      </mat-form-field>
    </div>
    @for (o of tiposPlaza| filterTiposPlaza: stringBusqueda; track o) {
      <mat-list-item>
        <mat-icon mat-list-icon>watch_later</mat-icon>
        <h4 mat-line>{{o.codigoTipoPlaza}} </h4>
        <p mat-line> {{o.descripcionTipoPlaza}} </p>
        <button mat-mini-fab color="primary" (click)="openDialogEdit(o)">
          <mat-icon mat-list-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="deleteO(o.codigoTipoPlaza)">
          <mat-icon mat-list-icon>delete</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    }
  }


</mat-list>
<div class="container">
  @if (isLoading) {
    <mat-progress-spinner mode="indeterminate"  ></mat-progress-spinner>
  }
</div>