<mat-list>
  <div class="add-btn">
    <button mat-fab color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  @if (displayOrNot) {
    <h2 mat-subheader>No hay contribuyentes</h2>
  } @else {
    <div class="centerTitle">
      <h2>Contribuyentes</h2>
    </div>
    <div>
      <mat-form-field>
        <input matInput #myInput placeholder="Búsqueda..." [(ngModel)]="stringBusqueda">
      </mat-form-field>
    </div>
    @for (con of contribuyentes| filterContribuyentes: stringBusqueda; track con) {
      <mat-list-item>
        <mat-icon matListItemIcon>watch_later</mat-icon>
        <span matListItemTitle>{{con.codigoContribuyente}}</span>
        <span matListItemLine>{{con.nombre}} {{con.apePaterno}} {{con.apeMaterno}}</span>
        <div matListItemMeta>
          <button mat-mini-fab color="primary" (click)="openDialogEdit(con)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="deleteContribuyente(con.codigoContribuyente)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    }
  }

  <div>
    <!-- for the add button -->

  </div>

</mat-list>

<div class="container">
  @if (isLoading) {
    <mat-progress-spinner mode="indeterminate"  ></mat-progress-spinner>
  }
</div>