<mat-list>


  <div class="centerTitle">
    <h2>{{tipoPlaza.descripcionTipoPlaza}}</h2>
    <h3>Vigencias </h3>
  </div>
  <div class="centerTitle">
    <button mat-fab color="primary" (click)="openDialog()">
      <mat-icon mat-list-icon>add</mat-icon>
    </button>
  </div>
  <span *ngIf="displayOrNot; then condition1 else condition2"></span>
  <ng-template #condition1>
    <h2 mat-subheader>No hay períodos</h2>
  </ng-template>



  <ng-template #condition2>


    <mat-list-item *ngFor="let o of vigencias">
      <mat-icon mat-list-icon>watch_later</mat-icon>
      <h4 mat-line>De {{o.vigenciaInicial|date: 'dd/MM/yyyy'}} al {{o.vigenciaFinal|date: 'dd/MM/yyyy'}} Importe:
        {{o.importe }} </h4>
      <button mat-raised-button color="primary" (click)="deleteO(o.idTipoPlazaVigencia)">
        Eliminar
      </button>

      <mat-divider></mat-divider>
    </mat-list-item>
  </ng-template>
</mat-list>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10%" fxLayoutAlign="center">
  <mat-progress-spinner mode="indeterminate"  *ngIf="isLoading" ></mat-progress-spinner>  
</div>