<mat-list>


  <div class="centerTitle">
    <h2>{{tipoPlaza.descripcionTipoPlaza}}</h2>
    <h3>Vigencias </h3>
  </div>
  <div class="centerTitle">
    <button mat-fab color="primary" (click)="openDialog()">
      <mat-icon mat-list-icon>add</mat-icon>
    </button>
  </div>
  @if (displayOrNot) {
    <h2 mat-subheader>No hay períodos</h2>
  } @else {
    @for (o of vigencias; track o) {
      <mat-list-item>
        <mat-icon mat-list-icon>watch_later</mat-icon>
        <h4 mat-line>De {{o.vigenciaInicial|date: 'dd/MM/yyyy'}} al {{o.vigenciaFinal|date: 'dd/MM/yyyy'}} Importe:
        {{o.importe }} </h4>
        <button mat-raised-button color="primary" (click)="deleteO(o.idTipoPlazaVigencia)">
          Eliminar
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    }
  }



</mat-list>
<div class="container">
  @if (isLoading) {
    <mat-progress-spinner mode="indeterminate"  ></mat-progress-spinner>
  }
</div>