<mat-list>


  <div class="centerTitle">
    <h2>{{recaudador.nombreRecaudador}}</h2>
    <h3>Plazas asignadas </h3>
  </div>
  <div class="centerTitle">
    <button mat-fab color="primary" (click)="openDialogAdd()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  @if (displayOrNot) {
    <h2 mat-subheader>No hay plazas asignadas</h2>
  } @else {
    @for (o of tpsRecaudador; track o) {
      <mat-list-item>
        <mat-icon matListItemIcon>watch_later</mat-icon>
        <span matListItemTitle>{{o.tipoPlaza.codigoTipoPlaza}}</span>
        <span matListItemLine>{{o.tipoPlaza.descripcionTipoPlaza}}</span>
        <div matListItemMeta>
          <button mat-raised-button color="primary" style="width: 120px" (click)="deleteO(o.idRecaudadorTipoPlaza)">
            Eliminar
          </button>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    }
  }



</mat-list>