<mat-list>


  <div class="centerTitle">
    <h2>{{recaudador.nombreRecaudador}}</h2>
    <h3>Plazas asignadas </h3>
  </div>
  <div class="centerTitle">
    <button mat-fab color="primary" (click)="openDialogAdd()">
      <mat-icon mat-list-icon>add</mat-icon>
    </button>
  </div>
  <span *ngIf="displayOrNot; then condition1 else condition2"></span>
  <ng-template #condition1>
    <h2 mat-subheader>No hay plazas asignadas</h2>
  </ng-template>



  <ng-template #condition2>


    <mat-list-item *ngFor="let o of tpsRecaudador">
      <mat-icon mat-list-icon>watch_later</mat-icon>
      <h4 mat-line>{{o.tipoPlaza.codigoTipoPlaza}}  </h4>
      <p mat-line>{{o.tipoPlaza.descripcionTipoPlaza}}</p>
      <button mat-raised-button color="primary" style="width: 120px" (click)="deleteO(o.idRecaudadorTipoPlaza)">
        Eliminar
      </button>

      <mat-divider></mat-divider>
    </mat-list-item>
  </ng-template>
</mat-list>